::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d80b9b;
  cursor: grab;
}

.slider {
  text-align: center;
  color: black;
  height: 200px;
  position: relative;
}
.prevsArrow {
  position: absolute;
  bottom: -15%;
  right: 50%;
  z-index: 999;
}
.nextsArrow {
  position: absolute;
  bottom: -15%;
  right: 3%;
  z-index: 999;
}
